html
    min-width: 750px
    min-height: 100vh
    font-size: 62.5%

* > *
    box-sizing: border-box
    margin-top: 0

$large: 1200px  // breakpoint


// colours

$Violet: hsl(257, 40%, 49%)
$SoftMagenta: hsl(300, 69%, 71%)


// fonts

$font-stack-primary: 'Poppins', sans-serif
$font-stack-secondary: 'Open Sans', sans-serif
$regular: 400
$semibold: 600

@mixin font($family, $weight)
    font:
        family: $family
        weight: $weight

%font-primary-regular
    @include font($font-stack-primary, $regular)

%font-primary-semibold
    @include font($font-stack-primary, $semibold)

%font-secondary-regular
    @include font($font-stack-secondary, $regular)


body
    background:
        image: url("./images/bg-mobile.svg")
        size: 100% auto
        position: center top
        repeat: no-repeat
        color: $Violet
    margin: 6.3rem 7.5rem

    @media screen and (min-width: $large)
        background:
            image: url("./images/bg-desktop.svg")
            size: 131.8rem 80rem
            position-x: left
            repeat: repeat-y
        margin: 5.3rem 8.2rem 5.3rem 7.3rem

%img-block
    display: block
    height: auto

%img-logo-structure
    margin-bottom: 12rem
    margin-left: -.8rem

    @media screen and (min-width: $large)
        margin-bottom: 8.7rem
        margin-left: -.3rem

$img-logo-width-mobile: 26rem
$img-logo-width-desktop: 21.5rem

.img-logo
    @extend %img-block
    @extend %img-logo-structure
    width: $img-logo-width-mobile

    @media screen and (min-width: $large)
        width: $img-logo-width-desktop

$img-mockups-width-mobile: 60.3rem
$img-mockups-width-desktop: 70.9rem

.container-flex
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    gap: 11.9rem
    margin-bottom: 1.6rem
    min-width: $img-mockups-width-mobile

    @media screen and (min-width: $large)
        flex-direction: row
        align-items: flex-start
        gap: 5.2rem
        margin-bottom: 2rem

%img-mockups-structure
    margin-bottom: 0

.img-mockups
    @extend %img-block
    @extend %img-mockups-structure
    width: $img-mockups-width-mobile

    @media screen and (min-width: $large)
        width: $img-mockups-width-desktop

.col-txt 
    width: $img-mockups-width-mobile

    @media screen and (min-width: $large)
        min-width: 34.6rem
        // width: auto

%headline-structure
    line-height: 1.55
    margin-bottom: 2.5rem
    text-align: center

    @media screen and (min-width: $large)
        line-height: 1.51
        margin-top: 4.3rem
        margin-bottom: 2rem
        text-align: left

.headline
    @extend %headline-structure
    @extend %font-primary-semibold
    color: white
    font-size: 4.74rem

    @media screen and (min-width: $large)
        font-size: 3.98rem

%copy-structure
    line-height: 1.5
    letter-spacing: 0
    margin-bottom: 4.7rem
    text-align: center

    @media screen and (min-width: $large)
        margin-bottom: 2.4rem
        text-align: left

.copy
    @extend %copy-structure
    @extend %font-secondary-regular
    color: white
    font-size: 3.2rem

    @media screen and (min-width: $large)
        font-size: 1.8rem

%btn-structure
    display: block
    margin: 0 auto 11rem
    padding: 2.4rem 15.2rem 2rem

    @media screen and (min-width: $large)
        margin: 0
        padding: 1.5rem 6.5rem

.btn
    @extend %btn-structure
    border: none
    border-radius: 5rem
    @extend %font-primary-regular
    color: $Violet
    font-size: 2.39rem
    background-color: white

    @media screen and (min-width: $large)
        font-size: 1.75rem

.btn:hover
    color: white
    cursor: pointer
    background-color: $SoftMagenta

.socials-row
    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    gap: 1.9rem
    margin-bottom: 6.3rem

    @media screen and (min-width: $large)
        justify-content: flex-end
        gap: 1.6rem
        margin-right: -.2rem
        margin-bottom: 5.3rem
        
%socials-col-structure
    display: flex
    justify-content: center
    align-items: center
    height: 5.7rem
    width: 5.7rem

    @media screen and (min-width: $large)
        height: 4rem
        width: 4rem

.socials-col
    @extend %socials-col-structure
    border: .2rem solid white
    border-radius: 50%

.socials-col:hover
    border-color: $SoftMagenta
    cursor: pointer

.socials-icon
    color: white
    font-size: 2.8rem

    @media screen and (min-width: $large)
        font-size: 2rem

.socials-col:hover > .socials-icon
    color: $SoftMagenta

.attribution
    font-size: 1.1rem
    text-align: center 

.attribution a
    color: hsl(228, 45%, 44%)

// Development redefinition level

// body
//     background:
//         image: url("./design/mobile-design.jpg")
//         repeat: no-repeat
//         position: left top
//         size: 75rem 160rem
//     opacity: 1

//     @media screen and (min-width: $large)
//         background:
//             image: url("./design/desktop-design.jpg")
//             size: 144rem 80rem
