html {
  min-width: 750px;
  min-height: 100vh;
  font-size: 62.5%;
}

* > * {
  box-sizing: border-box;
  margin-top: 0;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.headline {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  background-image: url("./images/bg-mobile.svg");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  margin: 6.3rem 7.5rem;
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url("./images/bg-desktop.svg");
    background-size: 131.8rem 80rem;
    background-position-x: left;
    background-repeat: repeat-y;
    margin: 5.3rem 8.2rem 5.3rem 7.3rem;
  }
}

.img-mockups, .img-logo {
  display: block;
  height: auto;
}

.img-logo {
  margin-bottom: 12rem;
  margin-left: -0.8rem;
}
@media screen and (min-width: 1200px) {
  .img-logo {
    margin-bottom: 8.7rem;
    margin-left: -0.3rem;
  }
}

.img-logo {
  width: 26rem;
}
@media screen and (min-width: 1200px) {
  .img-logo {
    width: 21.5rem;
  }
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 11.9rem;
  margin-bottom: 1.6rem;
  min-width: 60.3rem;
}
@media screen and (min-width: 1200px) {
  .container-flex {
    flex-direction: row;
    align-items: flex-start;
    gap: 5.2rem;
    margin-bottom: 2rem;
  }
}

.img-mockups {
  margin-bottom: 0;
}

.img-mockups {
  width: 60.3rem;
}
@media screen and (min-width: 1200px) {
  .img-mockups {
    width: 70.9rem;
  }
}

.col-txt {
  width: 60.3rem;
}
@media screen and (min-width: 1200px) {
  .col-txt {
    min-width: 34.6rem;
  }
}

.headline {
  line-height: 1.55;
  margin-bottom: 2.5rem;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .headline {
    line-height: 1.51;
    margin-top: 4.3rem;
    margin-bottom: 2rem;
    text-align: left;
  }
}

.headline {
  color: white;
  font-size: 4.74rem;
}
@media screen and (min-width: 1200px) {
  .headline {
    font-size: 3.98rem;
  }
}

.copy {
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 4.7rem;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .copy {
    margin-bottom: 2.4rem;
    text-align: left;
  }
}

.copy {
  color: white;
  font-size: 3.2rem;
}
@media screen and (min-width: 1200px) {
  .copy {
    font-size: 1.8rem;
  }
}

.btn {
  display: block;
  margin: 0 auto 11rem;
  padding: 2.4rem 15.2rem 2rem;
}
@media screen and (min-width: 1200px) {
  .btn {
    margin: 0;
    padding: 1.5rem 6.5rem;
  }
}

.btn {
  border: none;
  border-radius: 5rem;
  color: hsl(257, 40%, 49%);
  font-size: 2.39rem;
  background-color: white;
}
@media screen and (min-width: 1200px) {
  .btn {
    font-size: 1.75rem;
  }
}

.btn:hover {
  color: white;
  cursor: pointer;
  background-color: hsl(300, 69%, 71%);
}

.socials-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 1.9rem;
  margin-bottom: 6.3rem;
}
@media screen and (min-width: 1200px) {
  .socials-row {
    justify-content: flex-end;
    gap: 1.6rem;
    margin-right: -0.2rem;
    margin-bottom: 5.3rem;
  }
}

.socials-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.7rem;
  width: 5.7rem;
}
@media screen and (min-width: 1200px) {
  .socials-col {
    height: 4rem;
    width: 4rem;
  }
}

.socials-col {
  border: 0.2rem solid white;
  border-radius: 50%;
}

.socials-col:hover {
  border-color: hsl(300, 69%, 71%);
  cursor: pointer;
}

.socials-icon {
  color: white;
  font-size: 2.8rem;
}
@media screen and (min-width: 1200px) {
  .socials-icon {
    font-size: 2rem;
  }
}

.socials-col:hover > .socials-icon {
  color: hsl(300, 69%, 71%);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
